name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Decode and set up google-services.json
        run: echo "${{ secrets.DEBUG_GOOGLE_SERVICES_JSON_BASE_64 }}" | base64 --decode > ./app/google-services.json

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Ktlint
        run: ./gradlew ktlintCheck

      - name: Run Detekt
        run: ./gradlew detekt

      - name: Run Lint
        run: ./gradlew lintDebug

      - name: Build with Gradle
        run: ./gradlew :app:assembleDebug

      - name: Run Unit Tests
        run: ./gradlew test

      - name: Verify Screenshot Tests
        run: ./gradlew verifyRoborazziDebug
